* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
}

.wrapper {
  margin: 120px auto;
  max-width: 450px;
  width: 100%;
  background: rgb(19, 170, 175);
  border-radius: 10px;
  padding: 25px;
  color: rgb(27, 12, 3);
}

.wrapper header {
  font-size: 4em;
  font-weight: 600;
}

.wrapper .inputField {
  display: flex;
  margin: 20px 0;
  height: 45px;
  width: 100%;
}

.inputField input {
  width: 85%;
  height: 100%;
  border: 2px solid #ccc;
  font-size: 1.5em;
  border-radius: 5px;
  padding-left: 15px;
}

.inputField button {
  width: 60px;
  height: auto;
  border: none;
  outline: none;
  background: #8e49e8;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  opacity: 0.6;
  pointer-events: none;
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .todoList {
  max-height: 450px;
  overflow-y: auto;
}

.todoList li {
  list-style: none;
  height: 55px;
  font-weight: 800;
  line-height: 55px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 0 15p;
  cursor: default;
  overflow: hidden;
}

.todoList li span {
  position: absolute;
  right: -45px;
  color: #fff;
  width: 45px;
  text-align: center;
  background: #c32f1f;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todoList li:hover span {
  right: 0;
}

.wrapper .footer {
  display: flex;
  width: 100%;
  cursor: default;
  align-items: center;
  margin-top: 20px;
  margin-right: 5px;
  justify-content: space-between;
}

.footer button {
  height: 35px;
  border: none;
  outline: none;
  background: #8e49e8;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 10px;
  opacity: 0.6;
  pointer-events: none;
}

.footer button.active {
  opacity: 1;
  pointer-events: auto;
}
